<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
    <script src="/js/settings.js"></script>
</head>

<body>
    <header>
        <%- include("../partials/header") %>
    </header>

    <main class="pt-0 pt-sm-5 px-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8">

                    <!-- Map Settings -->
                    <div class="mb-5">
                        <strong class="mb-1 d-block fs-4">Map Settings</strong>
                        <p class="text-muted">Here you can manage your default map settings</p>

                        <div class="list-group shadow">
                            <!-- Map Zoom -->
                            <div class="list-group-item py-4 px-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <strong class="mb-1 d-block">Change Map Zoom</strong>
                                        <p class="text-muted mb-0">Select your default map zoom</p>
                                    </div>
                                    <button class="btn btn-light" data-toggle-section="mapZoomForm">
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                </div>
                                <div id="mapZoomForm" class="mt-3" style="display: none;">
                                    <form id="zoomSettingsForm">
                                        <div class="form-group mb-3">
                                            <label for="mapZoomRange" class="d-flex justify-content-between">
                                                <span>Zoom Out</span>
                                                <span>Zoom In</span>
                                            </label>
                                            <input type="range" class="form-range" min="5" max="17" id="mapZoomRange">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </form>
                                </div>
                            </div>

                            <!-- Distance Units -->
                            <div class="list-group-item py-4 px-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <strong class="mb-1 d-block">Distance Units</strong>
                                        <p class="text-muted mb-0">Please select preferred units of distance</p>
                                    </div>
                                    <div id="UnitsForm" class="mt-3" style="display: none;">
                                        <div class="form-group mb-0">
                                            <select id="distanceUnits" class="form-select">
                                                <option value="km">Kilometers</option>
                                                <option value="miles">Miles</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Account Manager -->
                    <hr class="my-5" />
                    <div class="mb-5">
                        <strong class="mb-1 d-block fs-4">Account Manager</strong>
                        <p class="text-muted">Here you can manage your account details</p>

                        <div class="list-group shadow">
                            <!-- Log Out -->
                            <div class="list-group-item py-4 px-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <strong class="mb-1 d-block">Log Out</strong>
                                        <p class="text-muted mb-0">Log out of your account</p>
                                    </div>
                                    <button class="btn btn-light" data-toggle-section="logoutForm">
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                </div>
                                <div id="logoutForm" class="mt-3" style="display: none;">
                                    <form method="POST" action="/settings/logout">
                                        <div class="form-group">
                                            <p class="mb-1"><b>Name:</b>
                                                <%= loggedIn && user 
                                                    ? `${user.name.first} ${user.name.last}` 
                                                    : "Not logged in" 
                                                %>
                                            </p>
                                            <p><b>Email:</b>
                                                <%= loggedIn && user 
                                                    ? user.login.username 
                                                    : "Not logged in" 
                                                %>
                                            </p>
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-3">Log Out Now</button>
                                    </form>
                                </div>
                            </div>

                            <!-- Change Password -->
                            <div class="list-group-item py-4 px-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <strong class="mb-1 d-block">Change Password</strong>
                                        <p class="text-muted mb-0">Update your password</p>
                                    </div>
                                    <button class="btn btn-light" data-toggle-section="passwordForm">
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                </div>
                                <div id="passwordForm" class="mt-3" style="display: none;">
                                    <form method="POST" action="/settings/changepassword">
                                        <div class="form-group">
                                            <label for="oldpass" class="mt-2">Old Password</label>
                                            <input type="password" id="oldpass" class="form-control" placeholder="Enter your old password" name="oldpassword" />

                                            <label for="newpassword" class="mt-3">New Password</label>
                                            <input type="password" id="newpassword" class="form-control" placeholder="Enter new password" name="newpassword" />

                                            <label for="confirmpass" class="mt-3">Confirm New Password</label>
                                            <input type="password" id="confirmpass" class="form-control" placeholder="Confirm new password" name="confirmpassword"/>
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-3">Save</button>
                                    </form>
                                </div>
                            </div>

                            <!-- Delete Account -->
                            <div class="list-group-item py-4 px-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <strong class="mb-1 d-block text-danger">Delete Account</strong>
                                        <p class="text-muted mb-0">Permanently remove your account</p>
                                    </div>
                                    <button class="btn btn-light" data-toggle-section="deleteAccountForm">
                                        <i class="fas fa-chevron-down"></i>
                                    </button>
                                </div>
                                <div id="deleteAccountForm" class="mt-3" style="display: none;">
                                    <form method="POST" action="/settings/deleteaccount">
                                        <div class="form-group">
                                            <label for="confirmDelete" class="mt-2">Type "delete" to confirm</label>
                                            <input type="text" id="confirmDelete" class="form-control" placeholder="delete" name="deletetext" />
                                        </div>
                                        <button type="submit" class="btn btn-danger mt-3">Delete Account</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- FontAwesome -->
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
                </div>
            </div>
        </div>        
    </main>

    <footer class="mt-5">
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>
